<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>

          <div class="navbar-center hidden sm:flex"></div>
          <ul class="menu menu-horizontal px-1">
            <li><a class="active" href="/about">About</a></li>
            <li>
              <details>
                <summary>Theme</summary>
                <ul class="p-2 bg-base-100 right-0">
                    <li><a href="/lego/sets?theme=technic">Technic</a></li>
                    <li><a href="/lego/sets?theme=Basic Set">Basic Set</a></li>
                    <li><a href="/lego/sets?theme=Lion Knights">Lion Knights</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>

        <div class="container mx-auto">

          <div class="hero min-h-screen bg-base-200">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">About Me</h1>
                <p class="py-6">A page about me!</p>
                </p>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <!-- <img class="w-full rounded-lg" src="/img/images.jpg" alt="Me coding as a cat."> -->
              <iframe src="https://giphy.com/embed/VbnUQpnihPSIgIXuZv" width="384" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/computer-cat-wearing-glasses-VbnUQpnihPSIgIXuZv">Me coding as a cat!</a></p>
            </div>
            <div class="prose">
              <p>
                I am a student from Seneca Polytechnic. I am in my third semester of the study in Computer
                 Programming And Analysis. I enjoy building Lego Blocks! I also like hiking, riding bikes 
                 and travelling.
              </p>
            </div>
          </div>
        </div>

    </div>


</body>
</html>