<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
    
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>
          <div class="navbar-center hidden sm:flex"></div>
          <ul class="menu menu-horizontal px-1">
            <li><a class="active" href="/about.html">About</a></li>
            <li>
              <details>
                <summary>Theme</summary>
                <ul class="p-2 bg-base-100 right-0">
                    <li><a href="/lego/sets?theme=technic">Technic</a></li>
                    <li><a href="/lego/sets?theme=Basic Set">Basic Set</a></li>
                    <li><a href="/lego/sets?theme=Lion Knights">Lion Knights</a></li>
                </ul>
              </details>
            </li>
          </ul>
          </div>
    <div class="container mx-auto">

        <div class="hero min-h-screen" style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
            <div class="hero-overlay bg-opacity-60"></div>
                <div class="hero-content text-center text-neutral-content">
                    <div class="max-w-md">
                        <h1 class="mb-5 text-5xl font-bold">Lego World</h1>
                        <p class="mb-5">Click below and explore Lego Collections to start building your dream land.</p>
                        <a href="/lego/sets" class="btn">Start Exploring</a>
                    </div>
                 </div>
        </div>

    

    <!-- <div class="container mx-auto"> -->
      <div class="grid grid-cols-3 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure>
                  <img class="w-full" src="https://cdn.rebrickable.com/media/sets/001-1.jpg" alt="Lego Set: Gears" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Gears</h2>
                  <p>This set was released in America (USA/CAN) by Samsonite in 1965. It was re-released in 1969 as an educational set (322-4). 
                     It was never released in Europe.
                  </p>
                  <div class="card-actions justify-end">
                    <a href="/lego/sets/001-1" class="btn">View</a>
                  </div>
                </div>
              </div>

              <div class="card w-96 bg-base-100 shadow-xl">
                <figure>
                  <img class="w-full" src="https://cdn.rebrickable.com/media/sets/003-1.jpg" alt="Lego Set: Master Mechanic Set" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Master Mechanic Set</h2>
                  <p>This set was released in America (USA/CAN) by Samsonite in 1966. It was never released in Europe.</p>
                  <div class="card-actions justify-end">
                    <a href="/lego/sets/003-1" class="btn">View</a>
                  </div>
                </div>
              </div>

              <div class="card w-96 bg-base-100 shadow-xl">
                <figure>
                  <img class="w-full" src="https://cdn.rebrickable.com/media/sets/02-1.jpg" alt="Lego Set: Extra Large Tires & Hubs" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Extra Large Tires & Hubs</h2>
                  <p>Description not available.</p>
                  <div class="card-actions justify-end">
                    <a href="/lego/sets/02-1" class="btn">View</a>
                  </div>
                </div>
              </div>
      </div>  
    </div>

</body>
</html>